{% extends './base.html' %} {% load course_custom_tags %} {% load static %} {%
block title %} MyCourses {% block content %}

<div class="container">
  <h1 class="m-3 text-center text-secondary">My Courses</h1>
  <hr />
  <div class="row m-0 p-0 mt-3">
    {% for userc in user_course %}
    <div class="col mx-auto">
      <div class="card mx-auto" style="width: 20rem">
        <img
          src="{{userc.course.thumbnail.url}}"
          class="card-img-top"
          alt="{{ userc.i.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ userc.course.name }}</h5>
        </div>

        <div class="card-footer p-0">
          <div class="row g-0">
            <div class="col border-right">
              <a
                href="/course/{{userc.course.slug}}"
                class="btn btn-light d-block w-100"
                >Start Course</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
